<div id="page-sidebar">
    <div class="scroll-sidebar">
        <ul id="sidebar-menu">
            <li class="header"><span>Menú</span></li>
            <li>
                <a href="{{ pathCMSSite }}home" title="Admin Dashboard">
                    <i class="glyph-icon icon-linecons-tv"></i>
                    <span>Admin dashboard</span>
                </a>
            </li>
            <li class="divider"></li>
            <li class="header"><span>Components</span></li>
            <li>
                <a href="{{ pathCMSSite }}#" title="Generales">
                    <i class="glyph-icon icon-gear"></i>
                    <span>Generales</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ pathCMSSite }}catalogo/descuento" title="Descuentos" class=""><span>Descuentos</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/contrato_cpl" title="Control CPL" class=""><span>Control CPL</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/contrato_exencion" title="Contrato Exencion" class=""><span>Contrato Exencion</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/contrato_bloque" title="Contrato Bloque" class=""><span>Contrato Bloque</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/usuario" title="Usuarios"><span>Usuarios</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/rol" title="Roles" class=""><span>Roles</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/status" title="Status usuario"><span>Status usuario</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/idioma" title="Idiomas"><span>Idiomas</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/personas_adicionales" title="Personas Adicionales"><span>Personas Adicionales</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/mascota" title="Mascotas"><span>Mascotas</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/servicio_accesibilidad" title="Servicio de accesibilidad"><span>Servicio de accesibilidad</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/channel_manager" title="Channel Manager"><span>Channel Manager</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/adicional" title="Adicional"><span>Adicional</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/categoria" title="Categoria"><span>Categoria</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/generales" title="Generales"><span>Generales</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/clase" title="Clase"><span>Clase</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/estacionamiento" title="Estacionamiento"><span>Estacionamiento</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/internet" title="Internet"><span>Internet</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/detalle_checkin" title="Detalle checkin"><span>Detalle checkin</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/plataforma" title="Plataforma"><span>Plataforma</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/empleado" title="Empleado"><span>Empleado</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/estado" title="Estado"><span>Estado</span></a></li>
                        <li><a href="{{ pathCMSSite }}municipio" title="Municipios"><span>Municipios</span></a>
                        <li><a href="{{ pathCMSSite }}colonia" title="Municipios"><span>Colonias</span></a>
                        <li><a href="{{ pathCMSSite }}catalogo/pais" title="País"><span>País</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{{ pathCMSSite }}#" title="Catálogos">
                    <i class="glyph-icon icon-list-ul"></i>
                    <span>Catálogos</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ pathCMSSite }}catalogo/tipo_moneda" title="Tipo Moneda"><span>Tipo
                                    Moneda</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/tipo_servicio" title="Tipo Servicio"><span>Tipo
                                    Servicio</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/status_servicio" title="Estatus Servicio"><span>Estatus Servicio</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/status_ota" title="Estatus OTA"><span>Estatus OTA</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/status_alberca" title="Estatus Alberca"><span>Estatus Alberca</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/canal" title="Canal"><span>Canal</span></a></li>
                        <li>
                            <a href="{{ pathCMSSite }}catalogo/tipo_medida_seguridad" title="Medida de Seguridad">
                                <span>Tipo seguridad</span>
                            </a>
                        </li>
                        <li><a href="{{ pathCMSSite }}catalogo/tarjeta" title="Tarjeta"><span>Tarjeta</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/forma_pago" title="Forma de pago"><span>Forma de pago</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/tipo_temporada" title="Tipo Temporada"><span>
                                    Tipo Temporada</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/tipo_amenidad" title="Tipo Amenidad"><span>Tipo
                                    Amenidad</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/categoria_KAO" title="Categoria KAO"><span>Categoria KAO</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/amenidad_habitacion" title="Amenidades de habitación"><span>Amenidades de habitación</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/tipo_dia_festivo" title="Tipo día festivo"><span>
                                    Tipo día festivo</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/festividad" title="Festividad"><span>Festividad</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/tipo_habitacion" title="Tipo Habitación"><span>
                                    Tipo Habitación</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/precio_habitacion" title="Precio Habitación"><span>Precio Habitación</span></a></li>
                        <li>
                            <a href="{{ pathCMSSite }}catalogo/tipo_hotel" title="Tipo Hotel">
                                <span>Tipo Hotel</span>
                            </a>
                        </li>
                        <li><a href="{{ pathCMSSite }}catalogo/tipo_cancelacion" title="Tipo Cancelación"><span>
                                    Tipo Cancelación</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/penalizacion" title="Penalización"><span>Penalización</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/politica_cancelacion" title="Politica de cancelación"><span>Politica de cancelación</span></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/hotel" title="Hoteles">
                    <i class="glyph-icon icon-building"></i>
                    <span>Hoteles</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}habitacion" title="Habitaciones">
                    <i class="glyph-icon icon-cube"></i>
                    <span>Habiaciones</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/ota" title="Otas y canales">
                    <i class="glyph-icon icon-globe"></i>
                    <span>Otas y canales</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/personas_adicionales" title="Personas y pagos">
                    <i class="glyph-icon icon-user"></i>
                    <span>Personas y pagos</span>
                </a> 
            </li>
            
            <li>
                <a href="{{ pathCMSSite }}catalogo/politica_cancelacion" title="Politicas de cancelación">
                    <i class="glyph-icon icon-file-text"></i>
                    <span>Politicas de cancelación</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/amenidad" title="Amenidades generales">
                    <i class="glyph-icon icon-circle"></i>
                    <span>Amenidades generales</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/restaurant" title="Restaurantes">
                    <i class="glyph-icon icon-spoon"></i>
                    <span>Restaurantes</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/sitio_interes" title="Sitio de interes">
                    <i class="glyph-icon icon-map-marker"></i>
                    <span>Sitio de interes</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/medida_seguridad" title="Medida de seguridad">
                    <i class="glyph-icon icon-stethoscope"></i>
                    <span>Medida de seguridad</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/contrato" title="Contratos">
                    <i class="glyph-icon icon-file-text"></i>
                    <span>Contratos</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/photoshoot" title="Photoshoot">
                    <i class="glyph-icon icon-camera"></i>
                    <span>Photoshoot</span>
                </a> 
            </li>
            <li>
                <a href="{{ pathCMSSite }}catalogo/comentario" title="Comentario">
                    <i class="glyph-icon icon-comment"></i>
                    <span>Comentario</span>
                </a> 
            </li>
        </ul>
    </div>
</div>