{% include 'includesAdmin/header.html' %}
    <div id="page-wrapper">
        {% include 'includesAdmin/header2.html' %} 
        
        <div id="page-content-wrapper">
            <div id="page-content">
                <div class="container">                   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-box content-box">
                                <div class="content-box-header clearfix bg-default">
                                    <img src="{{ pathCMSSite }}includes/img/habitacion.png" alt="" width="54" class="img-bordered border-blue img-circle">
                                    <div class="user-details">
                                        HABITACIONES
                                        <span>Captura de habitaciones</span>
                                        <button class="btn btn-abs btn-sm btn-sm-abs text-transform-upr font-bold font-size-11 btn-info"  onclick="btnAddModalAjax('frm_reset','Guardar','Agregar nueva habitacion')" type="button">
                                            Agregar
                                        </button>
                                       
                                    </div>
                                </div>
                                <div class="list-group">
                                    <div class="example-box-wrapper tablaDesign" > 
                                                                                                   
                                        <table cellpadding="0" cellspacing="0" class="table table-striped table-bordered" id="datatable_ajax">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Habitación</th>
                                                <th>Hotel</th>
                                                <th>Tipo de habitación</th>
                                                <th>Vista</th>
                                                <th>Detalle</th>
                                                <th>Vendible</th>
                                                <th>Acciones</th>
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                       
                                            </tbody>
                                        </table>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modalAjax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="title_modal">Agregar habitación</h4>
                </div>
                <div class="modal-body row">
                    <form id="frm_reset">
                        <input type="hidden"  name="idAux" id="idAux">
                        <input type="hidden" name="path" id="path" value="{{pathSite}}"> 
                        <div class="col-md-12 mrg20T">
                            <label for="">Hotel </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyph-icon icon-circle"></i></span>                          
                                <select name="hotel"  id="txthotel_id" class="chosen-select">  
                                    
                                    {% for key,value in hoteles %}    
                                        <option value="{{value.id}}">{{value.hotel}}</option>
                                    {% endfor %}                                                          
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mrg20T">
                            <label for="">Tipo de habitación </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyph-icon icon-circle"></i></span>                          
                                <select class="form-control" id="txttipo_habitacion_id">
                                <option value="0">Seleccionar un hotel</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mrg20T">
                            <label for="">Número de habitación </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyph-icon icon-circle"></i></span>                          
                                <input type="text" class="form-control" id="txthabitacion" name="txtNoHabitacion">
                            </div>
                        </div>
                        <div class="col-md-6 mrg20T">
                            <label for="">Detalle </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyph-icon icon-circle"></i></span>                          
                                <input type="text" id="txtdetalle" class="form-control">
                            </div>
                        </div>
                                        
                        <div class="col-md-6 mrg20T">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Vista</strong></h3>
                                </div>
                                <div class="panel-body">

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="txtvista"  id="txtvista1" value="Con vista">
                                            Con vista
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="txtvista" id="txtvista2" value="Sin vista">
                                            Sin vista
                                        </label>
                                    </div>                                                           
                                </div>
                            </div>                      
                        </div>
                        <div class="col-md-6 mrg20T">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Vendible</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="txtvendible" id="txtvendible1" value="Si">
                                            Si
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="txtvendible" id="txtvendible2" value="No">
                                            No
                                        </label>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <br>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnsave" name="btnsave" class="btn btn-success"></button>
                </div>
            </div>
        </div>
    </div>
{% include 'includesAdmin/footerJS.html' %}
   
<script>
var path = $("#path").val();
let url=path+"includes/ajax/tipo_habitacion.php?tabla=habitacion";
$.fn.dataTable.ext.errMode = 'none';
$('#datatable_ajax').DataTable( {
      "ajax": url
})

 //--> bnt que se encarga de agregar o actualizar segun el valor de su atributo action.
 $('#btnsave').click(()=>{
        var action = $('#btnsave').attr('action');
        var url= path +'includes/ajax/tipo_habitacion.php';

        if(action === "save"){
            //--> datos a enviar al guardar
             var vist=$('input:radio[name=txtvista]:checked').val();
             var v=$('input:radio[name=txtvendible]:checked').val();
            var datos = {
                "action": "registrar",
               "habitacion": $('#txthabitacion').val(),
               "hotel_id": $('#txthotel_id').val(),
               "tipo_habitacion_id": null,
               "vista": vist,
               "detalle": $('#txtdetalle').val(),
               "vendible": v
              
            };

            saveAjax(url,datos);
        }else{
             //--> datos a enviar al editar
             
             var vist=$('input:radio[name=txtvista]:checked').val();
             var v=$('input:radio[name=txtvendible]:checked').val();
            
            var datos = {
                "idEditar":$('#idAux').val(),
                "habitacion": $('#txthabitacion').val(),
               "hotel_id": $('#txthotel_id').val(),
               "tipo_habitacion_id": $('#txttipo_habitacion_id').val(),
               "vista": vist,
               "detalle": $('#txtdetalle').val(),
               "vendible": v
            };
            
            editAjax(url,datos);
        }
        
    })

    var id_hotel=$('#txthotel_id').val();
    var datos = {
      id_hotel: id_hotel,
    };
    tipoHabitacion("includes/ajax/tipo_habitacion.php",datos);
 $('#txthotel_id').on('change', function() {
    var id_hotel=$('#txthotel_id').val();
    var datos = {
      id_hotel: id_hotel,
    };
   
    tipoHabitacion("includes/ajax/tipo_habitacion.php",datos);
});

function tipoHabitacion(url,datos){
    
    $.ajax({
    type: "POST",
    async: false,
    url: url,
    data: datos,
    dataType:"text",
    }).done(function (response) {
            
            $('#txttipo_habitacion_id').html(response);
    });
}


</script>